# Eclipse
.classpath
.project
.gitemberSettings/
.checkstyle

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.log
build/

#vagrant
.vagrant/
*.box


# Enterprise Architect
*.ldb

*.bak

.settings/
shade/gitember.jar
