.kwfont {
    -fx-font-size: 20;
    -fx-font-family: "Monospace";
}

.linenum {
    -fx-fill: gray;
}

.default {
    -fx-fill: #323232;
}

.keyword {
    -fx-fill: darkblue;
}

.boolean {
    -fx-fill: rgb(3, 66, 142);
}

.semicolon {

}

.bracket {
    -fx-fill: darkblue;
}

.digit {
    -fx-fill: blue;
}

.string {
    -fx-fill: darkgreen;
}

.string3 {
    -fx-fill: green;
}

.comment {
    -fx-fill: gray;
}

.mlcomment {
     -fx-fill: gray;

 }

.diff-new {
    -fx-background-color: #97fa97;
}

.diff-modified {
    -fx-background-color: #cdcdcd;
}

.diff-deleted {
    -fx-background-color: #fa97b3;
}

.diff-path-new {
    -fx-stroke-width: 0.5;
    -fx-stroke: #d1e8d1;
    -fx-fill:  #97fa97;
}
.diff-path-modified {
    -fx-stroke-width: 0.5;
    -fx-stroke: #e5e5e5;
    -fx-fill: #cdcdcd;
}

.diff-path-deleted {
    -fx-stroke-width: 0.5;
    -fx-stroke: #e5cad1;
    -fx-fill: #fa97b3;
}

.diff-line-new {
    -fx-background-color:  #97fa97;
}
.diff-line-modified {
    -fx-background-color: #cdcdcd;
}
.diff-line-deleted {
    -fx-background-color: #fa97b3;
}
