.kwfont {
    -fx-font-size: 20;
    -fx-font-family: "Monospace";
}

.linenum {
    -fx-fill: gray;
}

.debug2 {
    -fx-fill: blue;
    -fx-background-color: gray;
    -rtfx-background-color: red;
}

.debug {
    -fx-fill: magenta;
    -fx-background-color: green;
    -rtfx-background-color: cyan;
}

.default {
    -fx-fill: #bababa;
}

.keyword {
    -fx-fill: #e09e15;
}

.boolean {
    -fx-fill: rgb(4, 210, 246);
}

.semicolon {
    -fx-fill: #a76d17;
}

.bracket {
    -fx-fill: #ffd542;
}

.digit {
    -fx-fill: #1070d5;
}

.string {
    -fx-fill: #049204;
}

.string3 {
    -fx-fill: lightgreen;
}

.comment {
    -fx-fill: #505050;
}

.mlcomment {
     -fx-fill: #505050;
 }

.embeded {
    -fx-fill: rgba(217, 184, 86, 0.51);
 }

.diff-new {
    -fx-background-color: #124e12;
}

.diff-modified {
    -fx-background-color: #505050;
}

.diff-deleted {
    -fx-background-color: #761d1d;
}

.diff-path-new {
    -fx-stroke-width: 0.5;
    -fx-stroke: transparent;
    -fx-fill:  #124e12;
}
.diff-path-modified {
    -fx-stroke-width: 0.5;
    -fx-stroke: transparent;
    -fx-fill: #4848a2;
}

.diff-path-deleted {
    -fx-stroke-width: 0.5;
    -fx-stroke: transparent;
    -fx-fill: #761d1d;
}

.diff-line-new {
    -fx-background-color:  #124e12;
}
.diff-line-modified {
   -fx-background-color: #4848a2;
}
.diff-line-deleted {
    -fx-background-color: #761d1d;
}
.diff-line-copy {
    -fx-background-color: #1d3076;
}


/*.code-area {
    -fx-fill: #a1a1a1;
    -fx-background-color: background_color;
    -fx-font: Monospace;
    -fx-font-size: 20;
}*/

.caret {
    -fx-stroke: white;
    -fx-stroke-width: 2.0;
}

.styled-text-area .selection {
    -fx-fill: #004f8b;
}

/*.styled-text-area .text { -fx-fill: #cddbe8; }*/
.styled-text-area .line-highlighter { -fx-fill: #313631; }
