.kwfont {
    -fx-font-size: 20;
    -fx-font-family: "Monospace";
}

.linenum {
    -fx-fill: gray;
}

.keyword {
    -fx-fill: #936d08;
}

.boolean {
    -fx-fill: rgb(4, 210, 246);
}

.semicolon {
    -fx-fill: #a76d17;
}

.bracket {
    -fx-fill: #ffd542;
}

.digit {
    -fx-fill: #1070d5;
}

.string {
    -fx-fill: #049204;
}

.string3 {
    -fx-fill: lightgreen;
}

.comment {
    -fx-fill: gray;
}

.mlcomment {
     -fx-fill: gray;

 }

.diff-new {
    -fx-background-color: #032b03;
}

.diff-modified {
    -fx-background-color: #1e0d38;
}

.diff-deleted {
    -fx-background-color: #320303;
}


