.kwfont {
    -fx-font-size: 20;
    -fx-font-family: "Monospace";
}

.linenum {
    -fx-fill: gray;
}

.debug {
    -fx-fill: magenta;
}

.default {
    -fx-fill: #323232;
}

.keyword {
    -fx-fill: darkblue;
}

.boolean {
    -fx-fill: #05438Eff;
}

.semicolon {
    -fx-fill: #030342;
}

.bracket {
    -fx-fill: darkblue;
}

.digit {
    -fx-fill: blue;
}

.string {
    -fx-fill: darkgreen;
}

.string3 {
    -fx-fill: green;
}

.comment {
    -fx-fill: gray;
}

.mlcomment {
     -fx-fill: gray;

 }

.diff-new {
    -fx-background-color: #97fa97;
}

.diff-modified {
    -fx-background-color: #cdcdcd;
}

.diff-deleted {
    -fx-background-color: #fa97b3;
}

.diff-path-new {
    -fx-stroke-width: 0.5;
    -fx-stroke: #d1e8d1;
    -fx-fill:  #a5f1a5;
}
.diff-path-modified {
    -fx-stroke-width: 0.5;
    -fx-stroke: #e5e5fa;
    -fx-fill: #cdcdf0;
}

.diff-path-deleted {
    -fx-stroke-width: 0.5;
    -fx-stroke: #e5cad1;
    -fx-fill: #fa97b3;
}

.diff-line-new {
    -fx-background-color: #a5f1a5;
}
.diff-line-modified {
    -fx-background-color: #cdcdf0;
}
.diff-line-deleted {
    -fx-background-color: #fa97b3;
}
.diff-line-copy {
    -fx-background-color: #97a7fa;
}


/*.code-area {
    -fx-fill: #a1a1a1;
    -fx-background-color: background_color;
    -fx-font: Monospace;
    -fx-font-size: 20;
}*/

.caret {
    -fx-stroke: white;
    -fx-stroke-width: 2.0;
}

.styled-text-area .selection {
    -fx-fill: #004f8b;
}

/*.styled-text-area .text { -fx-fill: #cddbe8; }*/
.styled-text-area .line-highlighter { -fx-fill: #bdd2bd; }