.button {
    -fx-font-weight: bold;
}

.list-cell:filled:hover {

    -fx-cursor: hand;
    -fx-underline: true;
    -fx-text-fill: #00b6e6;
}

.list-cell:even {

}

.list-cell:odd {

}


.list-cell:filled:selected {
    -fx-background-color: -fx-background ;
    -fx-background-insets: 0 ;

    -fx-border-color: -fx-focus-color;
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 1px;
}




/*
http://hg.openjdk.java.net/openjfx/8/master/rt/file/f89b7dc932af/modules/controls/src/main/resources/com/sun/javafx/scene/control/skin/modena/modena.css
*/