.copy-label, .copy-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-pref-width: 350px;
}

