.copy-label, .copy-label:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;

}
.diff-row-new {
    -fx-background-color:  #124e12;
}
.diff-row-modified {

}
.diff-row-deleted {
    -fx-background-color: #761d1d;
}
.diff-row-copy {
    -fx-background-color: #1d3076;
}


.root {
    -fx-font-size: 12pt ;
}

.overview-border {
    -fx-border-color: black;
}