.copy-label, .copy-label:focused {
    -fx-border-style: none;
    -fx-border-width: 0px;

}
.diff-row-new {
    -fx-background-color:  #124e12;
}
.diff-row-modified {

}
.diff-row-deleted {
    -fx-background-color: #761d1d;
}
.diff-row-copy {
    -fx-background-color: #1d3076;
}

.code-area {
    -fx-fill: #a1a1a1;
    -fx-background-color: background_color;
    -fx-font: Monospace;
    -fx-font-size: 20;
}
