.copy-label, .copy-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-pref-width: 350px;
}

.diff-row-new {
    -fx-background-color:  #97fa97;
}
.diff-row-modified {

}
.diff-row-deleted {
    -fx-background-color: #fa97b3;
}
.diff-row-copy {
    -fx-background-color: #97a7fa;
}


.root {
    -fx-font-size: 12pt ;
}


.overview-border {
    -fx-border-color: white;
}